.p1 {
  background-color: #c96e00;
  color: #000000;
  font-weight: 100;
}
.p2 {
  background-color: #0000ff;
  color: #ffffff;
  font-weight: 200;
}
.p3,
fieldset {
  background-color: #ffffff;
  font-family: monospace;
  font-size: x-large;
}
.p4 {
  background-color: #808080;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: larger;
}
