body {
  background-image: url("Stupa_Borobudur.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.justify {
  color: blue;
  border: 1px solid red;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  background-image: url("avocado.jpg");
  background-repeat: repeat;
}

.repeat {
  border: 1px solid red;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  background-image: url("avocado.jpg");
  background-repeat: repeat-x;
}
